.don_hang--create
	form(
		id="don_hang--create"
		data-role="validator"
		action="javascript:"
	)
		h4 Tiêu đề đơn hàng
		.row
			.col-md-6.col-lg-6
				label Loại đơn hàng
				select(
					class="primary"
					data-role="select"
					data-filter="false"
					data-validate="required not=-1"
				)
					option(
						value="-1"
					) Loại đơn hàng
					option Kỹ sư Việt Nhật
					option Thực tập sinh
					option Điều dưỡng
				.invalid_feedback Vui lòng chọn
			.col-md-6.col-lg-6
				label Công ty tiếp nhận
				select(
					class="primary"
					data-role="select"
					data-validate="required not=-1"
				)
					option(
						value="-1"
					) Tên công ty tiếp nhận ở Nhật
					option Công ty tiếp nhận 1
					option Công ty tiếp nhận 2
					option Công ty tiếp nhận 3
				.invalid_feedback Vui lòng chọn
			.col-md-6.col-lg-6
				label Địa chỉ làm việc
				select(
					class="primary"
					data-role="select"
					data-validate="required not=-1"
				)
					option(
						value="-1"
					) Tỉnh ở Nhật
					option Hokkaidō
					option Aomori
					option Iwate
					option Miyagi
				.invalid_feedback Vui lòng chọn
			.col-md-6.col-lg-6
				label Ngành nghề
				select(
					class="primary"
					data-role="select"
					data-filter="false"
				data-validate="required not=-1"
				)
					option(
						value="-1"
					) Ngành
					option Ngành nghề 1
					option Ngành nghề 2
					option Ngành nghề 3
				.invalid_feedback Vui lòng chọn
			.col-lg-6
				label Tiêu đề
				input(
					type="text"
					data-role="input"
					placeholder="Tiêu đề Tiếng Việt"
					data-validate="required"
				)
				.invalid_feedback Vui lòng nhập
			.col-lg-6
				label &nbsp;
				input(
					type="text"
					data-role="input"
					placeholder="Tiêu đề Tiếng Nhật"
					data-validate="required"
				)
				.invalid_feedback Vui lòng nhập
		h4 Thông tin chi tiết
		.row
			.col-lg-6
				label Địa chỉ cụ thể
				textarea(
					data-role="textarea"
					placeholder="Nhập địa chỉ cụ thể nơi làm việc"
					data-validate="required"
				)
				.invalid_feedback Vui lòng nhập
			.col-lg-6
				label Yêu cầu khác (Tùy chọn)
				textarea(
					data-role="textarea"
					data-clear-button="false"
				)
		.row
			.col-lg-3
				label Thời gian làm việc
				select(
					data-role="select"
					data-filter="false"
					data-validate="required not=-1"
				)
					option(
						value="-1"
					) hh:mm - hh:mm
					option 8:00 - 17:00
					option 7:00 - 18:00
			.col-lg-3
				label Thời gian khác (hh:mm - hh:mm)
				.d-flex
					input(
						type="checkbox"
						data-role="checkbox"
					)
					input(
						type="text"
						data-role="input"
					)
			.col-lg-3
				label Số lượng tuyển
				.d-flex
					input(
						data-cls-input="w-50px"
						type="text"
						data-role="input"
						data-clear-button="false"
						data-append="Nam"
						data-validate="required number"
					)
					input(
						data-cls-component="ml-4"
						data-cls-input="w-50px"
						type="text"
						data-role="input"
						data-clear-button="false"
						data-append="Nữ"
						data-validate="required number"
					)
				.invalid_feedback Vui lòng nhập số
		h4 Lương
		.row
			.col-lg-2
				label Lương cơ bản
				input(
					type="text"
					data-role="input"
					data-append="¥"
					placeholder="Chỉ được phép nhập số"
					data-validate="required number"
				)
				.invalid_feedback Vui lòng nhập số
			.col-lg-2
				label Lương thực nhận
				input(
					type="text"
					data-role="input"
					data-append="¥"
					placeholder="Chỉ được phép nhập số"
					data-validate="required number"
				)
				.invalid_feedback Vui lòng nhập số
			.col-lg-6
				label Các khoản khấu trừ
				input(
					type="text"
					data-role="taginput"
					data-random-color="true"
					data-tag-trigger="13"
					data-validate="required"
				)
				.invalid_feedback Vui lòng nhập số
		h4 Thời gian
		.row
			.col-lg-3
				label Ngày bắt đầu tuyển
				input(
					type="text"
					data-role="calendarpicker"
					data-cls-calendar="compact"
					data-week-start="1"
					data-dialog-point="300"
					data-show-header="false"
					data-format="%d-%m-%Y"
					data-validate="required"
				)
				.invalid_feedback Vui lòng chọn
			.col-lg-3
				label Ngày kết thúc
				input(
					type="text"
					data-role="calendarpicker"
					data-cls-calendar="compact"
					data-week-start="1"
					data-dialog-point="300"
					data-show-header="false"
					data-format="%d-%m-%Y"
					data-validate="required"
				)
				.invalid_feedback Vui lòng chọn
		h4 Trình độ
		.row
			.col-lg-2
				label Trình độ
				select(
					data-role="select"
					data-filter="false"
					data-validate="required not=-1"
				)
					option(
						value="-1"
						class="d-none"
					)
					option Đại học
					option Cao đẳng
					option Trung cấp
					option Trung cấp nghề
					option THPT
				.invalid_feedback Vui lòng chọn
			.col-lg-4
				label Nơi thi
				input(
					type="text"
					data-role="input"
					placeholder="Nhập địa chỉ"
					data-validate="required"
				)
				.invalid_feedback Vui lòng nhập
		h4 Người quản lý đơn hàng
		.row
			.col-lg-3
				label Quản lý đơn hàng
				select(
					data-role="select"
					data-validate="required not=-1"
				)
					option(
						value="-1"
					) Người quản lý đơn hàng ở Việt Nam
					option Anh Thanh
					option Anh Minh
					option Chị Thư
					option Chị Khánh
				.invalid_feedback Vui lòng chọn
			.col-lg-3
				label Quản lý đơn hàng ở Nhật
				select(
					data-role="select"
					data-validate="required not=-1"
				)
					option(
						value="-1"
					) Người quản lý đơn hàng ở Nhật
					option Anh Thanh
					option Anh Minh
					option Chị Thư
					option Chị Khánh
				.invalid_feedback Vui lòng chọn
			.col-12.col-lg-2
				label Ngày xuất cảnh (dự kiến)
				input(
					type="text"
					data-role="calendarpicker"
					data-cls-calendar="compact"
					data-week-start="1"
					data-dialog-point="300"
					data-show-header="false"
					data-format="%d-%m-%Y"
					data-validate="required"
				)
				.invalid_feedback Vui lòng chọn
		.row
			button(
				class="button primary"
			) Lưu